Repository four-uncles/saramara-community-server, pull requests merged in 2024-03, with the labels that each got.

#150 [Feat] 투표 도메인 테스트 코드 개발
  src/main/java/com/kakao/saramaracommunity/vote/controller/VoteController.java
  src/main/java/com/kakao/saramaracommunity/vote/dto/business/response/VotesReadInBoardResponse.java
  src/main/java/com/kakao/saramaracommunity/vote/exception/VoteErrorCode.java
  src/main/java/com/kakao/saramaracommunity/vote/service/VoteService.java
  src/main/java/com/kakao/saramaracommunity/vote/service/VoteServiceImpl.java
  src/test/java/com/kakao/saramaracommunity/vote/controller/VoteControllerTest.java
  src/test/java/com/kakao/saramaracommunity/vote/entity/VoteTest.java
  src/test/java/com/kakao/saramaracommunity/vote/service/VoteServiceImplTest.java
Labels: ✨ Feature, ♻ Refactor, 🔨 Fix, ✅ Test

#151 [Feat] 회원(Member) 패키지 비즈니스 로직 수정 및 테스트 코드 추가하기
  src/main/java/com/kakao/saramaracommunity/config/SecurityConfig.java
  src/main/java/com/kakao/saramaracommunity/filter/LoginAuthenticationFilter.java
  src/main/java/com/kakao/saramaracommunity/handler/CustomAuthenticationSuccessHandler.java
  src/main/java/com/kakao/saramaracommunity/member/controller/MemberController.java
  src/main/java/com/kakao/saramaracommunity/member/dto/api/request/MemberCreateRequest.java
  src/main/java/com/kakao/saramaracommunity/member/dto/api/request/MemberRegisterRequest.java
  src/main/java/com/kakao/saramaracommunity/member/dto/business/request/MemberCreateServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/member/entity/Member.java
  src/main/java/com/kakao/saramaracommunity/member/exception/MemberErrorCode.java
  src/main/java/com/kakao/saramaracommunity/member/repository/MemberRepository.java
  src/main/java/com/kakao/saramaracommunity/member/service/MemberService.java
  src/main/java/com/kakao/saramaracommunity/member/service/MemberServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/vote/service/VoteServiceImpl.java
  src/test/java/com/kakao/saramaracommunity/fixture/MemberFixture.java
  src/test/java/com/kakao/saramaracommunity/member/controller/MemberControllerTest.java
  src/test/java/com/kakao/saramaracommunity/member/entity/MemberTest.java
  src/test/java/com/kakao/saramaracommunity/member/service/MemberServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/support/ControllerTestSupport.java
  src/test/java/com/kakao/saramaracommunity/vote/service/VoteServiceImplTest.java
Labels: 🐛 Bug, ✨ Feature, ♻ Refactor, 🔨 Fix, ✅ Test, 🔥 Remove

#153 [Feat] Testcontainers(테스트 컨테이너)를 활용해 통합 테스트 수행하기
  build.gradle
  src/test/java/com/kakao/saramaracommunity/board/service/BoardServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/support/IntegrationTestSupport.java
Labels: ✨ Feature, ✅ Test, ➕ Dependency
