Repository four-uncles/saramara-community-server, pull requests merged in 2024-01, with the labels that each got.

#102 [Feat/Fix] 댓글(Comment) 테스트를 위한 Test Fixture 설정
  src/main/java/com/kakao/saramaracommunity/board/entity/AttachBoard.java
  src/main/java/com/kakao/saramaracommunity/comment/entity/Comment.java
  src/test/java/com/kakao/saramaracommunity/board/entity/AttachBoardTest.java
  src/test/java/com/kakao/saramaracommunity/board/entity/BoardTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentSetUpTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentTest2.java
  src/test/java/com/kakao/saramaracommunity/fixture/BoardFixture.java
  src/test/java/com/kakao/saramaracommunity/fixture/MemberFixture.java
  src/test/java/com/kakao/saramaracommunity/fixture/TestFixtures.java
Labels: ✨ Feature, ♻ Refactor, 🔨 Fix, ⚙ Setting, ✅ Test, 🔥 Remove

#106 :recycle: refactor: Member Refactoring
  build.gradle
  src/main/java/com/kakao/saramaracommunity/config/SecurityConfig.java
  src/main/java/com/kakao/saramaracommunity/member/batch/SoftDeletedMemberConfig.java
  src/main/java/com/kakao/saramaracommunity/member/controller/AuthController.java
  src/main/java/com/kakao/saramaracommunity/member/controller/AuthControllerTest.java
  src/main/java/com/kakao/saramaracommunity/member/controller/MemberController.java
  src/main/java/com/kakao/saramaracommunity/member/controller/MemberControllerAdvice.java
  src/main/java/com/kakao/saramaracommunity/member/controller/dto/request/ChangePWDto.java
  src/main/java/com/kakao/saramaracommunity/member/controller/dto/request/LoginDto.java
  src/main/java/com/kakao/saramaracommunity/member/controller/dto/request/SignUpDto.java
  src/main/java/com/kakao/saramaracommunity/member/dto/response/MemberImageDto.java
  src/main/java/com/kakao/saramaracommunity/member/dto/response/MemberInfoResDto.java
  src/main/java/com/kakao/saramaracommunity/member/dto/response/MemberResDto.java
  src/main/java/com/kakao/saramaracommunity/member/dto/response/OAuthResponseDto.java
  src/main/java/com/kakao/saramaracommunity/member/entity/Member.java
  src/main/java/com/kakao/saramaracommunity/member/entity/MemberImage.java
  src/main/java/com/kakao/saramaracommunity/member/entity/Role.java
  src/main/java/com/kakao/saramaracommunity/member/entity/Type.java
  src/main/java/com/kakao/saramaracommunity/member/exception/MemberErrorCode.java
  src/main/java/com/kakao/saramaracommunity/member/exception/OAuthProcessingException.java
  src/main/java/com/kakao/saramaracommunity/member/exception/ValidExceptionHandlingMethod.java
  src/main/java/com/kakao/saramaracommunity/member/repository/MemberRepository.java
  src/main/java/com/kakao/saramaracommunity/member/service/MemberSerivce.java
  src/main/java/com/kakao/saramaracommunity/member/service/MemberServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/member/service/MemberServiceMethod.java
  src/main/java/com/kakao/saramaracommunity/member/service/SignUpCheckingService.java
  src/main/java/com/kakao/saramaracommunity/member/service/SignUpCheckingServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/member/service/UserService.java
  src/main/java/com/kakao/saramaracommunity/member/service/dto/request/ChangePWServiceDto.java
  src/main/java/com/kakao/saramaracommunity/member/service/dto/request/SignUpServiceDto.java
  src/main/java/com/kakao/saramaracommunity/security/jwt/CustomUserDetailsService.java
  src/main/java/com/kakao/saramaracommunity/security/jwt/JwtAccessDeniedHandler.java
  src/main/java/com/kakao/saramaracommunity/security/jwt/JwtAuthenticationEntryPoint.java
  src/main/java/com/kakao/saramaracommunity/security/jwt/JwtFilter.java
  src/main/java/com/kakao/saramaracommunity/security/jwt/JwtSecurityConfig.java
  src/main/java/com/kakao/saramaracommunity/security/jwt/TokenProvider.java
  src/main/java/com/kakao/saramaracommunity/security/oauth/CookieAuthorizationRequestRepository.java
  src/main/java/com/kakao/saramaracommunity/security/oauth/CustomOAuth2UserService.java
  src/main/java/com/kakao/saramaracommunity/security/oauth/CustomOAuthUserDetails.java
  src/main/java/com/kakao/saramaracommunity/security/oauth/OAuth2AuthenticationFailureHandler.java
  src/main/java/com/kakao/saramaracommunity/security/oauth/OAuth2AuthenticationSuccessHandler.java
  src/main/java/com/kakao/saramaracommunity/security/oauth/userinfo/GoogleOAuth2UserInfo.java
  src/main/java/com/kakao/saramaracommunity/security/oauth/userinfo/KakaoOAuth2UserInfo.java
  src/main/java/com/kakao/saramaracommunity/security/oauth/userinfo/NaverOAuth2UserInfo.java
  src/main/java/com/kakao/saramaracommunity/security/oauth/userinfo/OAuth2UserInfo.java
  src/main/java/com/kakao/saramaracommunity/security/oauth/userinfo/OAuth2UserInfoFactory.java
  src/main/java/com/kakao/saramaracommunity/util/SecurityUtil.java
Labels: ♻ Refactor, 🔥 Remove

#108 [Feat] Enum Fixture를 활용해 댓글(Comment) 단위 테스트 진행하기
  src/main/java/com/kakao/saramaracommunity/board/entity/CategoryBoard.java
  src/main/java/com/kakao/saramaracommunity/comment/entity/Comment.java
  src/test/java/com/kakao/saramaracommunity/board/entity/AttachBoardTest.java
  src/test/java/com/kakao/saramaracommunity/board/entity/BoardTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentEnumFixtureTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentFactoryFixtureTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentSetUpTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentTest.java
  src/test/java/com/kakao/saramaracommunity/fixture/BoardEnumFixture.java
  src/test/java/com/kakao/saramaracommunity/fixture/MemberEnumFixture.java
  src/test/java/com/kakao/saramaracommunity/fixture/MemberFixture.java
  src/test/java/com/kakao/saramaracommunity/fixture/TestFixtures.java
Labels: ✨ Feature, ♻ Refactor, 🔨 Fix, ⚙ Setting, ✅ Test

#110 [Feat] 회원관련 기본적 로직 작성
  build.gradle
  src/main/java/com/kakao/saramaracommunity/member/controller/MemberController.java
  src/main/java/com/kakao/saramaracommunity/member/controller/request/MemberRegisterRequest.java
  src/main/java/com/kakao/saramaracommunity/member/controller/response/MemberInfoResponse.java
  src/main/java/com/kakao/saramaracommunity/member/entity/Member.java
  src/main/java/com/kakao/saramaracommunity/member/repository/MemberRepository.java
  src/main/java/com/kakao/saramaracommunity/member/service/MemberService.java
  src/main/java/com/kakao/saramaracommunity/member/service/MemberServiceImpl.java
  src/test/java/com/kakao/saramaracommunity/member/service/MemberServiceImplTest.java
Labels: ✨ Feature, ♻ Refactor, 🔨 Fix, ✅ Test

#114 [Refactor] 게시글 및 게시글 이미지 관련 비즈니스 로직 리팩토링
  src/main/java/com/kakao/saramaracommunity/board/controller/dto/request/BoardRequest.java
  src/main/java/com/kakao/saramaracommunity/board/entity/AttachBoard.java
  src/main/java/com/kakao/saramaracommunity/board/entity/Board.java
  src/main/java/com/kakao/saramaracommunity/board/entity/BoardImage.java
  src/main/java/com/kakao/saramaracommunity/board/entity/CategoryBoard.java
  src/main/java/com/kakao/saramaracommunity/board/repository/BoardImageRepository.java
  src/main/java/com/kakao/saramaracommunity/board/service/dto/request/BoardServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/board/service/dto/response/BoardResponse.java
  src/test/java/com/kakao/saramaracommunity/board/entity/AttachBoardTest.java
  src/test/java/com/kakao/saramaracommunity/board/entity/BoardImageTest.java
  src/test/java/com/kakao/saramaracommunity/board/entity/BoardTest.java
  src/test/java/com/kakao/saramaracommunity/board/service/BoardServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentEnumFixtureTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentFactoryFixtureTest.java
  src/test/java/com/kakao/saramaracommunity/fixture/BoardEnumFixture.java
  src/test/java/com/kakao/saramaracommunity/fixture/BoardFixture.java
  src/test/java/com/kakao/saramaracommunity/fixture/MemberEnumFixture.java
  src/test/java/com/kakao/saramaracommunity/fixture/MemberFixture.java
Labels: ✨ Feature, ♻ Refactor, 🔨 Fix, ⚙ Setting, 🔥 Remove

#112 [Feat] 투표 엔티티 세팅
  src/main/java/com/kakao/saramaracommunity/vote/controller/VoteController.java
  src/main/java/com/kakao/saramaracommunity/vote/entity/Vote.java
  src/main/java/com/kakao/saramaracommunity/vote/repository/VoteRepository.java
Labels: ✨ Feature, ⚙ Setting

#116 [Refactor] 댓글 관련 로직 점검
  build.gradle
  src/main/java/com/kakao/saramaracommunity/comment/controller/CommentController.java
  src/main/java/com/kakao/saramaracommunity/comment/controller/dto/request/CommentCreateRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/controller/dto/request/CommentCreateRequset.java
  src/main/java/com/kakao/saramaracommunity/comment/controller/dto/request/CommentDeleteRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/controller/dto/request/CommentUpdateRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/controller/dto/request/CommentUpdateRequset.java
  src/main/java/com/kakao/saramaracommunity/comment/entity/Comment.java
  src/main/java/com/kakao/saramaracommunity/comment/exception/CommentErrorCode.java
  src/main/java/com/kakao/saramaracommunity/comment/exception/CommentUnauthorizedException.java
  src/main/java/com/kakao/saramaracommunity/comment/service/CommentService.java
  src/main/java/com/kakao/saramaracommunity/comment/service/CommentServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/request/CommentCreateServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/request/CommentDeleteServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/request/CommentUpdateServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/request/CommentUpdateServiceRequset.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/response/CommentCreateResponse.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/response/CommentListDTO.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/response/CommentReadDetailResponse.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/response/CommentsReadInBoardResponse.java
  src/main/java/com/kakao/saramaracommunity/common/response/ApiResponse.java
  src/main/java/com/kakao/saramaracommunity/config/MapperConfig.java
  src/main/java/com/kakao/saramaracommunity/util/CookieUtil.java
  src/test/java/com/kakao/saramaracommunity/attach/controller/AttachControllerTest.java
  src/test/java/com/kakao/saramaracommunity/attach/service/AttachServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/comment/service/exception/CommentServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/comment/service/success/CommentServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/fixture/MemberFixture.java
Labels: ♻ Refactor, ✅ Test, ➖ Dependency, 🔥 Remove
