Repository four-uncles/saramara-community-server, pull requests merged in 2024-02, with the labels that each got.

#123 [Board/Fix] 게시글 조회수 및 좋아요 관련 로직 제거하기
  src/main/java/com/kakao/saramaracommunity/board/entity/Board.java
  src/main/java/com/kakao/saramaracommunity/board/repository/BoardRepository.java
  src/main/java/com/kakao/saramaracommunity/board/service/BoardServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/board/service/dto/response/BoardResponse.java
Labels: 🔨 Fix, 🔥 Remove

#125 [Member/Feat] 세션기반 인증 구현
  build.gradle
  src/main/java/com/kakao/saramaracommunity/board/entity/Board.java
  src/main/java/com/kakao/saramaracommunity/board/service/BoardServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/comment/service/CommentServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/config/PasswordEncoderConfig.java
  src/main/java/com/kakao/saramaracommunity/config/SecurityConfig.java
  src/main/java/com/kakao/saramaracommunity/filter/LoginAuthenticationFilter.java
  src/main/java/com/kakao/saramaracommunity/filter/SessionFilter.java
  src/main/java/com/kakao/saramaracommunity/handler/CustomAuthenticationSuccessHandler.java
  src/main/java/com/kakao/saramaracommunity/member/controller/MemberController.java
  src/main/java/com/kakao/saramaracommunity/member/controller/MemberControllerAdvice.java
  src/main/java/com/kakao/saramaracommunity/member/controller/request/MemberLoginRequest.java
  src/main/java/com/kakao/saramaracommunity/member/entity/Member.java
  src/main/java/com/kakao/saramaracommunity/member/exception/MemberErrorCode.java
  src/main/java/com/kakao/saramaracommunity/member/exception/MemberException.java
  src/main/java/com/kakao/saramaracommunity/member/repository/MemberRepository.java
  src/main/java/com/kakao/saramaracommunity/member/service/AuthenticationDetail.java
  src/main/java/com/kakao/saramaracommunity/member/service/MemberService.java
  src/main/java/com/kakao/saramaracommunity/member/service/MemberServiceImpl.java
  src/test/java/com/kakao/saramaracommunity/board/entity/BoardTest.java
  src/test/java/com/kakao/saramaracommunity/board/service/BoardServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/comment/service/exception/CommentServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/comment/service/success/CommentServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/member/service/MemberServiceImplTest.java
Labels: ✨ Feature, 🔨 Fix, 🔥 Remove

#126 [Feat] 게시글 단위 테스트(BoardTest)에 DCI 패턴 도입하기
  src/test/java/com/kakao/saramaracommunity/board/entity/BoardTest.java
Labels: ✨ Feature, ♻ Refactor, 🔨 Fix, ✅ Test

#128 [Comment/Test] Comment 단위/통합테스트 진행
  src/main/java/com/kakao/saramaracommunity/comment/entity/Comment.java
  src/main/java/com/kakao/saramaracommunity/comment/exception/CommentBusinessException.java
  src/main/java/com/kakao/saramaracommunity/comment/exception/CommentErrorCode.java
  src/main/java/com/kakao/saramaracommunity/comment/exception/CommentUnauthorizedException.java
  src/main/java/com/kakao/saramaracommunity/comment/service/CommentServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/request/CommentCreateServiceRequest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentEnumFixtureTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentFactoryFixtureTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentTest.java
  src/test/java/com/kakao/saramaracommunity/comment/service/CommentServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/comment/service/exception/CommentServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/comment/service/success/CommentServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/fixture/CommentFixture.java
Labels: ✨ Feature, ♻ Refactor, ✅ Test, 🔥 Remove

#134 [Comment/Feat] Controller 테스트 작성 및 테스트 시나리오 수정
  src/main/java/com/kakao/saramaracommunity/comment/controller/CommentController.java
  src/main/java/com/kakao/saramaracommunity/comment/controller/CommentControllerAdvice.java
  src/main/java/com/kakao/saramaracommunity/comment/controller/dto/request/CommentCreateRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/controller/dto/request/CommentDeleteRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/controller/dto/request/CommentUpdateRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/dto/api/request/CommentCreateRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/dto/api/request/CommentDeleteRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/dto/api/request/CommentUpdateRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/dto/business/request/CommentCreateServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/dto/business/request/CommentDeleteServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/dto/business/request/CommentUpdateServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/dto/business/response/CommentCreateResponse.java
  src/main/java/com/kakao/saramaracommunity/comment/dto/business/response/CommentReadDetailResponse.java
  src/main/java/com/kakao/saramaracommunity/comment/dto/business/response/CommentsReadInBoardResponse.java
  src/main/java/com/kakao/saramaracommunity/comment/entity/Comment.java
  src/main/java/com/kakao/saramaracommunity/comment/exception/CommentErrorCode.java
  src/main/java/com/kakao/saramaracommunity/comment/exception/CommentNotFoundException.java
  src/main/java/com/kakao/saramaracommunity/comment/service/CommentService.java
  src/main/java/com/kakao/saramaracommunity/comment/service/CommentServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/request/CommentCreateServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/request/CommentDeleteServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/comment/service/dto/request/CommentUpdateServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/member/controller/MemberController.java
  src/test/java/com/kakao/saramaracommunity/comment/controller/CommentControllerTest.java
  src/test/java/com/kakao/saramaracommunity/comment/entity/CommentTest.java
  src/test/java/com/kakao/saramaracommunity/comment/service/CommentServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/fixture/CommentFixture.java
  src/test/java/com/kakao/saramaracommunity/support/ControllerTestSupport.java
Labels: ✨ Feature, ♻ Refactor, 🔨 Fix, ✅ Test, 🔥 Remove

#141 [Fix] MVP 개발 완료를 위한 핵심 비즈니스 로직 개선하기
  src/main/java/com/kakao/saramaracommunity/board/controller/BoardControllerAdvice.java
  src/main/java/com/kakao/saramaracommunity/board/dto/api/reqeust/BoardCreateRequest.java
  src/main/java/com/kakao/saramaracommunity/board/entity/Board.java
  src/main/java/com/kakao/saramaracommunity/board/exception/BoardBusinessException.java
  src/main/java/com/kakao/saramaracommunity/board/exception/BoardNotFoundException.java
  src/main/java/com/kakao/saramaracommunity/board/service/BoardServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/bucket/controller/BucketController.java
  src/main/java/com/kakao/saramaracommunity/bucket/controller/BucketControllerAdvice.java
  src/main/java/com/kakao/saramaracommunity/bucket/controller/dto/request/BucketCreateRequest.java
  src/main/java/com/kakao/saramaracommunity/bucket/dto/business/response/BucketUploadResponse.java
  src/main/java/com/kakao/saramaracommunity/bucket/exception/BucketBusinessException.java
  src/main/java/com/kakao/saramaracommunity/bucket/exception/BucketErrorCode.java
  src/main/java/com/kakao/saramaracommunity/bucket/exception/BucketUploadOutOfRangeException.java
  src/main/java/com/kakao/saramaracommunity/bucket/service/BucketService.java
  src/main/java/com/kakao/saramaracommunity/bucket/service/BucketServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/bucket/service/dto/request/BucketServiceCreateRequest.java
  src/main/java/com/kakao/saramaracommunity/bucket/service/dto/request/BucketServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/bucket/service/dto/response/BucketCreateResponse.java
  src/main/java/com/kakao/saramaracommunity/bucket/service/dto/response/BucketResponse.java
  src/main/java/com/kakao/saramaracommunity/comment/controller/CommentControllerAdvice.java
  src/main/java/com/kakao/saramaracommunity/common/exception/GlobalExceptionHandler.java
  src/main/java/com/kakao/saramaracommunity/filter/LoginAuthenticationFilter.java
  src/main/java/com/kakao/saramaracommunity/handler/CustomAuthenticationSuccessHandler.java
  src/main/java/com/kakao/saramaracommunity/member/controller/MemberController.java
  src/main/java/com/kakao/saramaracommunity/member/controller/MemberControllerAdvice.java
  src/main/java/com/kakao/saramaracommunity/member/controller/request/MemberLoginRequest.java
  src/main/java/com/kakao/saramaracommunity/member/controller/request/MemberRegisterRequest.java
  src/main/java/com/kakao/saramaracommunity/member/dto/api/request/MemberLoginRequest.java
  src/main/java/com/kakao/saramaracommunity/member/dto/api/request/MemberRegisterRequest.java
  src/main/java/com/kakao/saramaracommunity/member/dto/business/response/MemberInfoResponse.java
  src/main/java/com/kakao/saramaracommunity/member/entity/Member.java
  src/main/java/com/kakao/saramaracommunity/member/service/MemberService.java
  src/main/java/com/kakao/saramaracommunity/member/service/MemberServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/util/AwsS3Uploader.java
  src/main/java/com/kakao/saramaracommunity/util/FileListValidator.java
  src/main/java/com/kakao/saramaracommunity/util/FileUtil.java
  src/main/java/com/kakao/saramaracommunity/util/ValidFileList.java
  src/test/java/com/kakao/saramaracommunity/board/controller/BoardControllerTest.java
  src/test/java/com/kakao/saramaracommunity/board/entity/BoardTest.java
  src/test/java/com/kakao/saramaracommunity/bucket/controller/BucketControllerTest.java
  src/test/java/com/kakao/saramaracommunity/bucket/service/BucketServiceImplTest.java
  src/test/java/com/kakao/saramaracommunity/member/service/MemberServiceImplTest.java
Labels: 🐛 Bug, ✨ Feature, 📝 Docs, ♻ Refactor, 🔨 Fix, ✅ Test, 🔥 Remove

#143 [ Feat] 투표 도메인 CRUD 기능 개발
  src/main/java/com/kakao/saramaracommunity/board/exception/BoardErrorCode.java
  src/main/java/com/kakao/saramaracommunity/comment/service/CommentServiceImpl.java
  src/main/java/com/kakao/saramaracommunity/vote/controller/VoteController.java
  src/main/java/com/kakao/saramaracommunity/vote/dto/api/request/VoteCreateRequest.java
  src/main/java/com/kakao/saramaracommunity/vote/dto/api/request/VoteDeleteRequest.java
  src/main/java/com/kakao/saramaracommunity/vote/dto/api/request/VoteUpdateRequest.java
  src/main/java/com/kakao/saramaracommunity/vote/dto/business/request/VoteCreateServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/vote/dto/business/request/VoteDeleteServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/vote/dto/business/request/VoteUpdateServiceRequest.java
  src/main/java/com/kakao/saramaracommunity/vote/dto/business/response/VoteCreateResponse.java
  src/main/java/com/kakao/saramaracommunity/vote/dto/business/response/VotesReadInBoardResponse.java
  src/main/java/com/kakao/saramaracommunity/vote/entity/Vote.java
  src/main/java/com/kakao/saramaracommunity/vote/exception/VoteBusinessException.java
  src/main/java/com/kakao/saramaracommunity/vote/exception/VoteErrorCode.java
  src/main/java/com/kakao/saramaracommunity/vote/repository/VoteRepository.java
  src/main/java/com/kakao/saramaracommunity/vote/service/VoteService.java
  src/main/java/com/kakao/saramaracommunity/vote/service/VoteServiceImpl.java
  src/test/java/com/kakao/saramaracommunity/support/ControllerTestSupport.java
  src/test/java/com/kakao/saramaracommunity/vote/controller/VoteControllerTest.java
  src/test/java/com/kakao/saramaracommunity/vote/entity/VoteTest.java
  src/test/java/com/kakao/saramaracommunity/vote/service/VoteServiceImplTest.java
Labels: ✨ Feature, ✅ Test

#147 [Fix] 누락된 ReplaceUnderscores 수정하기
  src/test/java/com/kakao/saramaracommunity/board/controller/BoardControllerTest.java
  src/test/java/com/kakao/saramaracommunity/board/entity/BoardTest.java
  src/test/java/com/kakao/saramaracommunity/board/service/BoardServiceImplTest.java
Labels: 🔨 Fix, ✅ Test

#149 [Fix] 투표 조회시 권한 검증 로직 삭제
  src/main/java/com/kakao/saramaracommunity/vote/controller/VoteController.java
  src/main/java/com/kakao/saramaracommunity/vote/service/VoteServiceImpl.java
Labels: 🔨 Fix
